{% extends 'viagens/base.html' %}

{% block content %}
    <div class="text-center">
        
        <h1 class="text-primary">Agência de Viagens</h1>
        
        <p class="lead mt-3">Viagem Para o Rio de Janeiro.</p>
        
        <p>Conheça as belezas do Rio de Janeiro, como Cristo Redentor, o Pão de Açucar, Praia de Copacabana entre outros locais incriveis. Uma viagem ao Rio de Janeiro, a Cidade Maravilhosa, mistura paisagens naturais de tirar o fôlego, como o Cristo Redentor e o Pão de Açúcar, com a vibrante cultura carioca. Essencial incluir praias Copacabana, Ipanema, mirantes como Dona Marta, samba, gastronomia local, além de explorar o centro histórico e o Boulevard Olímpico.</p>
        
        <img src="https://images.pexels.com/photos/156738/pexels-photo-156738.jpeg" alt="Vista do Rio de Janeiro" class="img-fluid rounded shadow mt-4 mb-5">
        
    </div>
{% endblock %}